.App {
  background-color: #0c002cc4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
}

button{
  width: 50px;
  height: 50px;
  border: 1px solid #c0acf0f8;
  border-radius: 10px;
  font-size: 25px;
  background-color: #988ca091;
}

section form input{
  width: 300px;
  height: 60px;
  font-size: 30px !important;
  align-items: center;

}

section{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 65px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }

  section h1 {
    font-size: 150px;
    margin-top: -60px;
    border-radius: 50px;
    color: #d4b1f5c4;
  }

small{
  font-size: 65%;
}